.collapsibleList .organizer > input + * {
  display: none;
}

.collapsibleList .organizer > input {
  display: none;
}

.collapsibleList li > input:checked + * {
  display: inline-block;
}

.collapsibleList label {
  cursor: pointer;
}

#container {
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 5px;
  margin-top: 15px;
}

#suggestions {
  width: 17vw;
  position: fixed;
  top: 20vw;
  right: 1vw;
}

#aboutus {
  position: fixed;
  top: 2vw;
  right: 1vw;
  width: 17vw;
}

#header {
    width: 60vw;
}

#name-search {
  width: 19vw;
  position: fixed;
  top: 2vw;
  left: 0.5vw;
}

.searchBar {
  margin-bottom: 5px;
}

#filter-search {
  width: 19vw;
  height: 50vw;
  overflow: scroll;
  position: fixed;
  top: 10vw;
  left: 0.5vw;
}

#filterBox {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: hidden;
  border-radius: 10px;
  background: #D9FFFF;
}

#gameView {
  width: 60vw;
  position: absolute;
  top: 16vw;
  left: 21.5vw;
}

.gameWindow {
    width: 60vw;
    height: 16.75vw;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: #D9FFFF;
    position: relative;
    border-radius: 10px;
    background: #9999D6;
}

.game-header {
    position: absolute;
    top: 0;
    left: 0;
    background: #D9FFFF;
    height: 3.35vw;
    width: 60vw;
    border-radius: 5px 5px 0 0;
}

.game-name {
    float: left;
    margin: 10px;
}

.game-price {
    float: right;
    margin: 10px;
}

.gamePics {
    position: absolute;
    top: 3.5vw;
    left: 0;
    height: 14vw;
    width: 22vw;
}

.gameIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 6.5vw;
    border-radius: 1.3vw;
    margin: 5px;
}

.gameScreenshotOne {
    position: absolute;
    top: 0;
    left: 7vw;
    width: 6.5vw;
    margin: 7px;
}

.gameScreenshotTwo {
  position: absolute;
  top: 0;
  left: 14vw;
  width: 6.5vw;
  margin: 7px;
}

.gameScreenshotThree {
  position: absolute;
  top: 0;
  left: 21vw;
  width: 6.5vw;
  margin: 7px;
}

.gameTags {
    position: absolute;
    top: 75px;
    right: 10px;
    width: 310px;
    height: 110px;
    background: #CCEBF5;
    padding: 10px;
    border-radius: 20px;
}

.gameInfo {
    position: absolute;
    top: 75px;
    right: 300px;
    float: left;
    width: 80px;
    height: 110px;
    background: #CCEBF5;
    padding: 20px;
    border-radius: 20px;
}
